body {
  background-image:url(background2.jpg);
  background-color: rgb(64, 64, 64);
}

p {
  font-family: Tahoma;
  font-size: x-large;
  color: darkseagreen;
}

h1 {
  font-family: Tahoma;
  color: darkseagreen;
  text-align: center; 
  text-decoration: underline;
}

h3 {
  font-family: Tahoma;
  color: darkseagreen;
  font-size: larger;
}

h2 {
  font-family: Tahoma;
  color: darkseagreen;
}

h6 {
  font-family: Tahoma;
  color: darkseagreen;
  font-size: large;
}

